{% extends "base/base.tpl" %}
  {% block header_extra %}
  <style>
  .carousel-inner { text-align: center; }
  .carousel .item > img { display: inline-block; }
  </style>
  {% end %}
  {% block content %}
      <div style="margin-top: 0px;" class="page-header">
        <h2>
          Recently Added Movies
          <small>(<a href="{{reverse_url('recent')}}"> view all </a>)</small>
        </h2>
      </div>
      {% if notification %}
      <div style="text-align: center;" class="alert">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Note!</strong> {{notification}}
      </div>
      {% end %}

      {% set count = 0 %}
      {% for genre, movies in movies_by_genre.iteritems() %}
        {% include 'includes/carousel.tpl' %}
        {% set count = count + 1 %}
      {% end %}

  {% end %}
