{% extends "base/base.tpl" %}
  {% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div style="background: url('/static/images/curtains2.gif');" class="hero-unit">
        <br><br>
        <br><br>
        <h1 style="margin-left: 150px;">Cinepy</h1>
        <br><br>
        <br><br>
        <br><br>
      </div>

      <!--  -->
      <div class="row">
        <div class="span4">
          <img src="/static/images/macbook.png">
          <h2>From a laptop computer</h2>
           <p>
             For users on the go.  You can view from any laptop or desktop computer with a compatible browser.  Simply login, make a selection, and off you go!
           </p>
          <a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <img src="/static/images/ipadiphone.png">
          <h2>From your mobile device</h2>
           <p>
             Only have your phone or tablet device?  No problem.  Any mobile device with HTML5 support will have access to this site.  If your device supports external display, you can also hook it to another monitor or large TV!
           </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <img src="/static/images/samsungflat.png">
          <h2>From your flat panel</h2>
          <p>
            Hook your computer or mobile device to your larger TV and away you go.  Everything will look great when hooked to a larger viewable area and we know you'll be impressed.
          </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
  {% end %}
